<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="CustomPerpective.perspective">
         <view
               id="org.eclipse.ui.navigator.ProjectExplorer"
               minimized="false"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="customperpective.PerspectiveFactory"
            id="CustomPerpective.perspective"
            name="CustomPerspective Perspective">
      </perspective>
   </extension>


</plugin>
