<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="CustomPlugin.perspective">
         <view
               id="org.eclipse.ui.navigator.ProjectExplorer"
               minimized="false"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">    
         </view>
         <view
               closeable="true"
               id="org.eclipse.ui.views.ContentOutline"
               minimized="false"
               ratio="0.5"
               relationship="bottom"
               relative="org.eclipse.jdt.ui.ProjectExplorer"
               visible="true">
         </view>
         <view
               id="org.eclipse.ui.views.PropertySheet"
               minimized="false"
               moveable="true"
               ratio="0.25"
               relationship="stack"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               id="org.eclipse.ui.views.ProblemView"
               minimized="false"
               moveable="true"
               ratio="0.25"
               relationship="stack"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               id="org.eclipse.ui.console.ConsoleView"
               minimized="false"
               relationship="bottom"
               relative="org.eclipse.ui.views.PropertySheet"
               standalone="false">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="customplugin.views.SampleView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="customplugin.PerspectiveFactory"
            id="CustomPlugin.perspective"
            name="%perspective.name">
      </perspective>
   </extension>
   <extension
         id="CustomPlugin.views.cateogry"
         point="org.eclipse.ui.views">
      <view
            class="customplugin.ViewPart1"
            id="CustomPlugin.views.category"
            name="%view.name"
            restorable="true">
      </view>
      <category
            id="CustomPlugin"
            name="%category.name">
      </category>
      <view
            category="CustomPlugin"
            class="customplugin.views.SampleView"
            icon="icons/sample.png"
            id="customplugin.views.SampleView"
            inject="true"
            name="%view.name.0">
      </view>
      <category
            id="CustomPlugin.views.category"
            name="%category.name.0">
      </category>
      <view
            category="CustomPlugin.views.category"
            class="customplugin.views.ExampleView1"
            id="CustomPlugin.views.ExampleView1"
            name="%view.name.1"
            restorable="true">
      </view>
      <view
            class="customplugin.views.TestView"
            id="CustomPlugin.views.TestView"
            name="%view.name.2"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="customplugin.handlers.SayHello"
            id="CustomPlugin.commands.Hello"
            name="%command.name">
      </command>
      <command
            defaultHandler="customplugin.handlers.OpenView"
            id="CustomPlugin.command.OpenView"
            name="%command.name.0">
      </command>
      <command
            defaultHandler="customplugin.handlers.TestView"
            id="CustomPlugin.command.TestView"
            name="%command.name.1">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=window">
         <command
               commandId="CustomPlugin.command.OpenView"
               label="%command.label"
               style="push">
         </command>
         <menu
               label="%menu.label">
            <command
                  commandId="CustomPlugin.commands.Hello"
                  label="%command.label.0"
                  style="push">
            </command>
            <command
                  commandId="CustomPlugin.command.OpenView"
                  label="%command.label.1"
                  style="push">
            </command>
            <command
                  commandId="CustomPlugin.command.TestView"
                  label="%command.label.2"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:CustomPlugin.views.ExampleView1">
         <command
               commandId="CustomPlugin.commands.Hello"
               icon="icons/sample.png"
               label="%command.label.3"
               style="push">
         </command>
      </menuContribution>

   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="customplugin.wizards.TestWizard"
            id="CustomPlugin.wizards.TestWizard"
            name="%wizard.name">
      </wizard>
   </extension>
   <extension
         id="CustomPlugin"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            description="custom plugin product description"
            name="custom plugin product">
         <property
               name="CustomPlugin.property"
               value="CustomPlugin.property">
         </property>
         <property
               name="appName"
               value="custom plugin product">
         </property>
      </product>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="custom plugin product">
         <property
               name="appName"
               value="custom plugin product">
         </property>
      </product>
   </extension>
</plugin>
